body {
    text-align: center;
    background-color: #e8cedb;
   }
   h1 {
    font-size: 50px;
    color: #4a3a3f;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #614004;
   }
   footer {
    color: #DBEDF3;
    font-family: sans-serif;
   }

   .c {
    background-image: url("images/cat.jpeg");
   }
   .d {
    background-image: url("images/doggy.jpg");
   }
   .g {
    background-image: url("images/giraffe.jpg");
   }
   .p {
    background-image: url("images/piggy.jpg");
   }
   .animal {
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-color: white;
    outline: none;
    border: 20px solid #564848;
    border-radius: 25px;
    font-size: 5rem;
    font-family: 'Roboto', cursive;
    font-weight: 900;
    line-height: 5;
    color: #73493d;
    text-shadow: 3px 0 #e0e0dc;
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 15px;
    text-align: center;
   }
   .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }